{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": "defaults"
          },
          "useBuiltIns": "usage"
        }
      }
      ]
    ],
  "plugins": [
    ["babel-plugin-root-import"],
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}
