.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .filterPanel {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .errorMessage {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .performanceScoreCard {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .waitScoreCard {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: stretch;
  }
  .marey {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .about {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

