.content {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  .filterPanel {
    width: 100%;
  }
  .performanceScoreCard {
    width: 100%;
  }
  .waitScoreCard {
    width: 100%;
  }
  @media (min-width: 900px) {
    grid-template-columns: 50%;
    .filterPanel {
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .errorMessage {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .performanceScoreCard {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .waitScoreCard {
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: stretch;
    }
    .marey {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .about {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

