body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-grey: #262626;
  --font-small: 0.75rem;
  --font-medium: 0.85rem;
  --font-large: 1.25rem;
  --font-xlarge: 2rem;
}
